<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forward</h4>
      </div>
      <%= form_for :micropost ,url: microposts_path do |f| %>
        <%= f.text_area :content %>
        <%= f.text_field :source_id,value:"",type:"hidden" %>
      <% end %>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Forward</button>
      </div>
    </div>
  </div>
</div>