<% if record.errors.any? %>
	<div id="error_explanation" class="bg-danger">
		<div>
			The form contains <%= pluralize(record.errors.count, "error") %>.
		</div>
		<ul>
			<% record.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
