<div class="micropost">
	<span class="user">
		<%= gravatar_for micropost.user,size:20 %>
		<%= link_to micropost.user.name,micropost.user %>
	</span>
	<span class="content">
		<%= micropost.content%>
	</span>
	<p>
			<span><a href="#" class="glyphicon glyphicon-share-alt"></a></span>
			<span><a href="#" class="glyphicon glyphicon-option-horizontal"></a></span>
			<span><a href="#" class="glyphicon glyphicon-thumbs-up"></a></span>
			<% if login? && micropost.user.id == current_user.id %>
				<%= link_to '',micropost_path(micropost),class:"glyphicon glyphicon-trash",method: :delete,data:{confirm:'Sure?'} %>
			<% end %>
	</p>
</div>