// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	width: 100%;
	a {
		color:#555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
	&.bottom {
		bottom: 0;
		position: absolute;
	}
	nav {
		float: right;
	}
}

h1 {
	text-align: center;
}