// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	width: 100%;
	a {
		color:#555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
	&.bottom {
		bottom: 0%;
		float: left;
	}
	nav {
		float: right;
	}
}

h1 {
	text-align: center;
}

/*debug*/
$gray-medium-light: #eaeaea;
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */
aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h2 {
		}
		img {
			display: block;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		ul {
			clear: left;
		}
		.nav > li > a {
			padding-left: 0px;
		}
	}
	textarea {
		margin-top: 50px;
		margin-bottom: 10px;
		width: 100%;
		height: 80px;
		float: left;
		clear: left;
	}
	input.btn {
		float: right;
	}
}

/*avatar*/
.gravatar {
	float: left;
}

.gravatar_edit {
margin-top: 15px;
}

/*error field*/
.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

/*microposts*/
.micropost {
	background-color: #F1E9C9;
	margin-bottom: 10px;
	span.user {
		display: block;
		float: left;
	}
	span.content {
		display: block;
		clear: left;
	}
	p span {
		margin-right: 20px;
	}
}

